apiVersion: apps/v1
kind: Deployment
metadata:
  name: trend-app
spec:
  replicas: 3
  selector:
    matchLabels:
      app: trend
  template:
    metadata:
      labels:
        app: trend
    spec:
      containers:
      - name: trend
        image: shriram123/trend-app:latest
        ports:
        - containerPort: 80
